<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>BMI Rechner</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-indigo.min.css"/>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-layout__header--scroll mdl-js-layout mdl-color--grey-100">
    <header class=" mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="own-header mdl-layout__header-row">
            <span class="mdl-layout-title"><a href="{{ url_for('index')}}">BMI Rechner</a></span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <!-- minimal configuration ticker, confidence, time and percentage-->
    <div class="own-ribbon"></div>
    <main class="own-main mdl-layout__content">
        <div class="own-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="own-content-error own-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800
            mdl-cell mdl-cell--8-col">
                <!--see search.html-->
                {% block main %}{% endblock %}
            </div>
        </div>
        <footer class="mdl-mini-footer mdl-color-text--white">
            <div class="mdl-mini-footer--left-section">
                <ul class="mdl-mini-footer--link-list">
                </ul>
            </div>
        </footer>
    </main>
</div>
</body>
</html>
